*{
    margin: 0px;
}

body{
    text-align: center;
    background-color: #282120;
}

section{
    padding: 25px;
}

.cream{
    background-color: #F8EFE4;
}

.jetBlack{
    background-color:#282120 ;
    color: #F8EFE4;
}


/*Header/Nav*/


header button{
    background-color: #28212000;
    border: none;
    color: #FAD02C;
    font-size: 3rem;
}

header button:hover,
header button:active{
    transform: scale(1.1);
    cursor: pointer;
}

#close-menu-btn{
    display: none;
}

nav{
    background-color: #282120;
    padding: 10px;
    color: #FAD02C;
}

#main-navbar{
    display: flex;
    justify-content: center ;
    justify-content: space-between;
    flex-direction: row;
}

nav img{
    width: 85px;
}



#navbar-menu{
    display: flex; 
    justify-content: center;
    justify-content: space-between;
    flex-direction: column;
    font-size: 2rem;
    padding: 10px;
    height: 85vh;
}

#navbar-menu {
    display: none;
}

#navbar-menu a{
    margin: 10px auto;
}

#title{
    background-image: url(images/indian-food-cuisine-dishes-copy-space-tikka-masala-dal-paneer-samosa-chapati-chutney-spices-gray-background-assortment-meal-150703869.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
    padding-top: 300px;

}

#title h1{
    font-family: 'Merienda', cursive;
    font-size: 4rem;
    color: #FAD02C;
    text-shadow: 2px 2px 30px #070707;
}

#title p {
    font-family: 'Dancing Script', cursive;
    margin-bottom: -10px;
    color: #282120;
    font-size: 2rem;
}

#title a{
    border: 1px solid black;
    padding: 10px;
    background-color: #282120;
    color: #F8EFE4;
    font-size: 1.3rem;
    border-radius: 10px;
}

/* Section 1*/

#section-one h3{
    font-size: 2rem;
    font-family: 'Merienda', cursive;
}

#section-one span{
    font-family: 'Dancing Script', cursive;
}

#section-one p{
    font-family: 'Cinzel', serif;
    text-align: left;
    margin: 12px auto;
}


/* Section 2*/

#section-two h2{
    font-family: 'Merienda', cursive;
    font-size: 2rem;
    text-decoration: underline;
}


#section-two h3{
    margin-top: 20px;
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
}

#section-two img{
    width: 300px;
    height: 250px;
    clip-path: ellipse();
}

/* Section 3*/
#section-three h2{
    font-family: 'Merienda', cursive;
    font-size: 2rem;
    text-decoration: underline;
}

#section-three h3{
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
}

#section-three img{
    width: 300px;
    height: 250px;
    clip-path: ellipse();
    margin-top: 30px;
}

/* Section 4*/

#section-four img{
    width: 120px;
}

/* Section 5*/

#section-five {
    display: flex;
    flex-direction: column;
}

#section-five button{
    width: 200px;
    font-size: 1.5rem;
    padding: 10px;
    margin: 5px auto;
}

/*Footer*/

footer{
    text-align:left;
    padding: 20px;
}

footer h2{
    font-size: 2.5rem;
}

footer h3{
    font-size: 1.5rem;
}

#footer-links{
    display: flex;
    flex-direction: column;
}





